# pgadmin4
# The username has to be in the form of an email address.
PGADMIN_USER=ahmed.mohmed100@gmail.com
PGADMIN_PASSWORD=Sayed@2020

# There are also options to set up email,
# enable TLS,
# specify a listen address and port,
# and more.
#
# See https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html



